@font-face {
    font-family: 'logo';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_okdlwdcrzhi.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/webfont_okdlwdcrzhi.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('//at.alicdn.com/t/webfont_okdlwdcrzhi.woff2') format('woff2'),
        url('//at.alicdn.com/t/webfont_okdlwdcrzhi.woff') format('woff'),
        /* chrome、firefox */
        url('//at.alicdn.com/t/webfont_okdlwdcrzhi.ttf') format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('//at.alicdn.com/t/webfont_okdlwdcrzhi.svg#站酷高端黑') format('svg');
    /* iOS 4.1- */
}

@font-face {
    font-family: 'iconfont';
    /* project id 2142143 */
    src: url('//at.alicdn.com/t/font_2142143_adhbrbswsbt.eot');
    src: url('//at.alicdn.com/t/font_2142143_adhbrbswsbt.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2142143_adhbrbswsbt.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2142143_adhbrbswsbt.woff') format('woff'),
        url('//at.alicdn.com/t/font_2142143_adhbrbswsbt.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2142143_adhbrbswsbt.svg#iconfont') format('svg');
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block
}

i {
    display: inline-block;
    font-family: 'iconfont' !important;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select,
textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

td:not([align]),
th:not([align]) {
    text-align: left
}

/*色系*/
.b0 {
    background-color: #000 !important;
    color: #f0f0f0 !important;
}

.bf {
    background-color: #fff !important;
}

.bf1 {
    background-color: #f1f1f1 !important;
}

.b1 {
    background-color: #069 !important;
    color: #eee !important;
}

.b2 {
    background-color: #f0f0f0 !important;
    color: #555 !important;
}

/*#069*/
.b3 {
    background-color: #f0f0f0 !important;
    color: #555 !important;
}

.b5 {
    background-color: #f0f0f0 !important;
    color: #555 !important;
}

.c0 {
    color: #000;
}

.cf0 {
    color: #f0f0f0;
}

.c555 {
    color: #555;
}

.c1 {
    color: #c85554;
}

.c2 {
    color: #9d5b8b;
}

.c3 {
    color: #069;
}

.f9 {
    font-size: 9px;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

/*效果*/
.e0 {
    box-shadow: none;
}

.e1 {
    box-shadow: 0 0 3px #aaa;
}

/*间距、填充*/
.pd0 {
    padding: 0 !important;
}

.pd10 {
    padding: 10px !important;
}

.pd20 {
    padding: 20px !important;
}

.pd06 {
    padding: 0 6px !important;
}

.pd010 {
    padding: 0 10px !important;
}

.pd30 {
    padding: 30px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mtb10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.ease {
    box-shadow: 0 0 3px #aaa;
    padding: 12px;
    background-color: #fdfdfd;
    border-radius: 4px;
}

/*位序*/
.h,
.hide {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.c {
    clear: both;
}

body {
    background-color: #f0f0f0;
    color: #666;
    font-size: 16px;
    font-family: 微软雅黑, "Droid Sans", Helvetica, Tahoma, SimSun, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    word-break: break-all;
    background-repeat: repeat;
}

body a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

/*通用*/
.modal.inline {
    position: relative;
    background: #FFF;
    padding: 30px 20px 20px 20px;
    width: auto;
    max-width: 640px;
    margin: 20px auto;
}

.on {
    display: block !important;
}

input {
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 200px;
    margin: 5px;
    text-indent: 8px;
}

form label,
.form label {
    display: inline-block;
    width: 70px;
    line-height: 40px;
    text-align: right;
    margin-right: 20px;
}

legend {
    font-size: 16px;
}

textarea {
    padding: 10px;
    border: 1px solid #eee;
    min-width: 300px;
    min-height: 100px;
    background-color: #fff;
    color: #222;
}

.item .textarea {
    min-height: 200px;
}

.hidden {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    display: none;
}

.btn {
    display: inline-block;
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 4px 0 6px !important;
    margin: 5px;
    color: #666;
    border: none;
    line-height: 24px;
    height: 24px;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,.18), 0 0px 2px 0 rgba(0,0,0,.15);
}

.btn:active {}

.btn.focus {
    background-color: #069 !important;
    color: #f0f0f0 !important;
}

.btn.off {
    background-color: #999 !important;
    color: #f0f0f0 !important;
}

.btn.in {
    background-color: #bbb !important;
    color: #f0f0f0 !important;
}

.btn .icon {
    font-size: 16px;
    width: 20px;
}

fieldset {
    padding: 10px;
    border: 1px solid #eee;
}


.wf {}

.tr {
    text-align: right;
}

/*应用*/

.tree.ease {
    border-radius: 8px 10px 2px 2px;
}

.header {
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 7px #bbb;
    background-color: #fefefe;
    border-top: 4px solid #069;
}

.header .logo , .header .f24{
    font-family: "logo";
}

.header .logo .x1 {
    margin-top: 10px;
    height: 28px;
    width: 15px;
    float: left;
    font-size: 16px;
    line-height: 14px;
    color: #fff;
    background-color: #ab2b2b;
    border-radius: 30px;
}

.header .logo .x2 {
    text-indent: 5px;
    height: 50px;
    width: 120px;
    line-height: 50px;
    float: left;
    font-size: 38px;
    color: #666;
    letter-spacing: -2px;
}

.header a {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0 12px;
    float: left;
    color: #555;
}

.header .userbar div {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 13px 0 0 0;
}

.header .userbar .username {
    padding: 0 5px;
    font-size: 12px;
}

.header .userbar .score {
    padding: 0 5px;
    font-size: 9px;
}

.body.main {
    max-width: 1000px;
    margin: 0 auto;
}

.zone {
    margin: 15px 10px;
}

.zone.breadcrumb {
    color: #222;
}

.zone.breadcrumb a.first {
    margin: 0;
}

.zone.breadcrumb a.first i {
    margin-right: 5px;
}

.zone.breadcrumb a {
    margin: 0 6px;
    color: #666;
}

.footer {
    text-align: center;
}

.footer * {
    font-size: 12px;
    color: #bbb;
    line-height: 16px;
}

.tag {
    padding: 2px 5px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 3px;
}

.radio {
    background-color: #e0e0e0;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 3px;
}

.radio.checked {
    background-color: #3b7960;
    color: #f9f9f9;
}

.form .item .radio.first {
    margin-left: 5px;
}

.center {
    text-align: center;
}

div.p {
    padding: 8px 0;
    line-height: 24px;
}

div.p .tag {
    line-height: 18px;
}

.zone.topics .p.even,
.zone.comments .p.even {
    background-color: #edf1f2;
    border-bottom: #bbb;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 3px;
}

.tab {}

.tab ul.head li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.tab div.content {
    clear: both;
}

.tab .content>.item {
    display: none;
}

.tab .head.classic {
    border-bottom: 1px solid #eee;
}

.tab .head.classic li.key {
    padding: 0 5px 0 5px;
}

.zone.menu .ease {
    box-shadow: 0 0 3px #aaa;
    border-radius: 4px;
}

.tab.region * {
}

.tab.region .head {
    padding: 10px;
}

.tab.region li.key {
    padding: 0;
    margin-right: 5px;
}

.tab.region * .focus {
    background: #069!important;
    color: #eee !important;
    border-radius: 20px;
}

.tab.province .content .item a {
    padding: 2px 0 2px 0;
    margin-right: 5px;
    line-height: 30px;
    background-color: #f7f7f7;
}

.tab.province .head {
    padding: 0 0 0 10px;
}

.tab.province .content {
    padding: 10px;
}

.zone.region {
}

.topics .item {
    margin: 5px 0;
}

.topics .item .title {
    margin: 0 5px;
}

.topic .textarea.editor,
#editor {
    min-height: 400px;
}

.g404 {
    background-color: #fff;
    padding: 10px;
    vertical-align: middle;
}

.g404 p {
    margin: 40px 0 0 40px;
}

.gh ul.messenger.messenger-fixed.messenger-on-top {
    top: 55px !important;
}

.stamp {
    position: absolute;
    z-index: 10;
    right: 0;
    margin-top: 0;
    margin-right: 12px;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #069;
    border: 2px solid #ab2b2b;
    width: 40px;
    height: 25px;
    line-height: 23px;
}


.zone.topic .ease {
    background-color: #fefefe;
}

.zone.topic .title {
    position: relative;
}

.zone.topic .title h3 {
    text-align: center;
    padding: 10px 6px;
    font-size: 22px;
    font-weight: bold;
    line-height: 35px;
    background-color: none;
    margin: 0 10px 6px 10px;
}

.zone.topic .title div.meta {
    margin: 0 10px 0 10px;
}

.zone.topic .title .meta .btn {
    margin-top: -10px;
}

.zone.topic .userbar {
    border: none;
}


.zone .userbar .avatar {
    float: left;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 300px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    background-color: #069;
    box-shadow: 0 0 3px #aaa;
    line-height: 30px;
    margin: 0 6px 0 0;
}

.zone .userbar .profile {
    line-height: 18px;
    vertical-align: middle;
    width: 180px;
    overflow: hidden;
    float: left;
}

.zone .userbar .meta {
    line-height: 18px;
    vertical-align: middle;
    overflow: hidden;
    float: right;
    text-align: right;
    line-height: 40px;
    padding: 0 6px;
}

.topic .content {
    margin: 0;
    line-height: 24px;
    padding: 15px 25px;
    overflow: hidden;
    color: #555;
    font-size: 16px;
    line-height: 30px;
}

.content ul,
.content ol {
    padding-left: 30px;
}

.topic .content p.img {
    padding: 5px;
    text-indent: 0;
}

img.mfp-img {
    background-color: #fff;
}


.zone.comments .ease {
    margin: 30px 0;
}

.zone.comments .comment {
    background-color: #fefefe;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 5px;
}

.zone.comments .userbar {
    background-color: #fcfcfc;
    border-bottom: 1px solid #f5f5f5;
}

.zone.comments .comment .content {
    min-height: 90px;
    padding: 20px 10px;
    overflow: hidden;
    word-break: break-all;
    background-color: #fefefe;
    color: #555;
    font-size: 16px;
    line-height: 30px;
}

.gh .ql-editor {
    color: #555;
    font-size: 16px;
    line-height: 30px !important;
}

.zone.add.comment .textarea {
    height: 120px;
    line-height: 120px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
}

.modaal-container {
    border-radius: 8px;
}

.modaal-content-container {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 8px #000;
    border-radius: 8px;
}

.textarea.editor.delay {
    padding-top: 15px;
    min-height: 150px;
}

.ql-editor {
    height: 360px !important;
}

.ql-align-left {
    text-align: left;
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

.amap.weather {
    width: 5rem;
    display: inline-block;
    padding-left: 0.5rem;
}

.amap.info {
    background-color: #fff;
    box-shadow: 2px 2px 3px #999;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.8;
    position: inherit;
    margin-bottom: 0;
}

.amap.sharp {
    height: 1rem;
    width: 1rem;
    background-color: #ffffff;
    transform: rotateZ(45deg);
    box-shadow: 2px 2px 3px #555;
    position: inherit;
    margin-left: 10.5rem;
    margin-top: -6px;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.ql-snow .ql-editor h1 {
    font-size: 18px !important;
    font-weight: bold;
}

.ql-snow .ql-editor h2 {
    font-size: 16px !important;
    font-weight: bold;
}

.ql-snow .ql-editor p {
    margin-bottom: 10px;
}

.gh h1 {
    font-size: 18px !important;
    font-weight: bold;
}

.gh h2 {
    font-size: 16px !important;
    font-weight: bold;
}

.gh p {
    margin: 10px 0;
    text-indent: 30px;
}

.modaal-wrapper.modaal-inline .amap-copyright {
    display: none !important;
}

.zone.optional.description .description {
    margin: 10px 0 20px 0;
}

.zone.optional.description .ease {
    border-left: 7px solid #069;
}

table th {
    background-color: #eee;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

table td {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

h3.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.g404 p {
    margin-top: 35px;
}

.zone.area .ease h3 {
    margin: 40px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.zone.areas * {
    font-family: inherit;
}

.zone.boardLogo {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.zone.boardLogo .box {
    position: absolute;
    top: -15px;
    right: 10px;
    margin: 0;
    height: 60px;
}

.zone.boardLogo .box:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 20px 0px 20px 0px #f0f0f0 inset, -20px 0px 20px 0px #f0f0f0 inset;
}

.zone.boardLogo img {
    height: 60px;
}