@font-face {
  font-family: 'logo';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_brku4ahobqq.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_brku4ahobqq.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_brku4ahobqq.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_brku4ahobqq.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_brku4ahobqq.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_brku4ahobqq.svg#站酷高端黑') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'iconfont';  
  src: url('//at.alicdn.com/t/font_2142143_l4331n4o25n.eot');
  src: url('//at.alicdn.com/t/font_2142143_l4331n4o25n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2142143_l4331n4o25n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2142143_l4331n4o25n.woff') format('woff'),
  url('//at.alicdn.com/t/font_2142143_l4331n4o25n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2142143_l4331n4o25n.svg#iconfont') format('svg');
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
i.icon {
  display: inline-block;
  font-family: 'iconfont' !important;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  th {
    background-color: #eee;
    padding: 5px 10px;
    border: 1px solid $bgBorder;
    white-space:nowrap;
  }
  td {
    padding: 5px 10px;
    border: 1px solid $bgBorder;
  }
  p {
    text-indent:0px!important;
  }
}
td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
/*色系*/
.b0 {
  background-color: #000 !important;
  color: #f0f0f0 !important;
}
.bf {
  background-color: #fff !important;
}
.bf1 {
  background-color: #f1f1f1 !important;
}
.b1 {
  background-color: $c1 !important;
  color: #eee !important;
}
.b2 {
  background-color: #f0f0f0 !important;
  color: #555 !important;
}
/*#069*/
.b3 {
  background-color: #f0f0f0 !important;
  color: #555 !important;
}
.b5 {
  background-color: #f0f0f0 !important;
  color: #555 !important;
}
.c0 {
  color: #000;
}
.cf0 {
  color: #f0f0f0;
}
.c555 {
  color: #555;
}
.c1 {
  color: #c85554;
}
.c2 {
  color: #9d5b8b;
}
.c3 {
  color: $c1;
}
.f9 {
  font-size: 9px;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px!important;;
}
.f24 {
  font-size: 24px!important;;
}
.f28 {
  font-size: 28px!important;;
}
/*效果*/
.e0 {
  box-shadow: none;
}
.e1 {
  box-shadow: 0 0 2px #aaa;
}
/*间距、填充*/
.pd0 {
  padding: 0 !important;
}
.pd10 {
  padding: 10px !important;
}
.pd20 {
  padding: 20px !important;
}
.pd06 {
  padding: 0 6px !important;
}
.pd010 {
  padding: 0 10px !important;
}
.pd30 {
  padding: 30px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mtb10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ease {
  padding: 12px;
  border-radius: 3px;
  border:1px solid $bgBorder;
  background-color: #fff;
  box-shadow:0px 0px 1px #ccc;
}
/*位序*/
.h,
.hide {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.c {
  clear: both;
}
body {
  background-color: $bg;
  color: $c0;
  font-size: 16px;
  font-family: 微软雅黑, "Droid Sans", Helvetica, Tahoma, SimSun, sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  word-break: break-all;
  background-repeat: repeat;
  a {
    color: $c0;
    text-decoration: none;
    cursor: pointer;
  }
}
/*通用*/
.modal {
  &.inline {
    position: relative;
    background: #fff;
    padding: 30px 20px 20px 20px;
    width: auto;
    max-width: 640px;
    margin: 20px auto;
  }
}
.on {
  display: block !important;
}
input.ui {
  line-height: 30px;
  border: 1px solid $bgBorder;
  border-radius: 2px;
  width: 200px;
  margin: 5px;
  text-indent: 8px;
  font-size: 16px !important;
  color: #555;
}
form label.ui,
.form label.ui {
  display: inline-block;
  width: 70px;
  line-height: 40px;
  text-align: right;
  margin-right: 20px;
}
legend {
  font-size: 16px;
}
textarea {
  padding: 10px;
  border: 1px solid $bgBorder;
  min-width: 300px;
  min-height: 100px;
  background-color: #fff;
  color: #222;
}
.item {
  .textarea {
    min-height: 200px;
    box-shadow:0 1px 1px #eee inset;
  }
  fieldset{
    border:1px solid #f9f0f9;
  }
}
.hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  display: none;
}
.btn {
  display: inline-block;
  background-color: $bgBtn;
  border-radius: 3px;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 0 4px 0 6px !important;
  margin: 5px;
  color: $c0;
  line-height: 28px;
  height: 28px;
  &.focus {
    background-color: $c1 !important;
    color: #f0f0f0 !important;
    border: 1px solid $c1;
  }
  &.off {
    background-color: #999 !important;
    color: #f0f0f0 !important;
  }
  &.in {
    background-color: $c1 !important;
    color: #f0f0f0 !important;
    border: 1px solid $c1;
  }
  .icon {
    font-size: 16px;
    width: 20px;
  }
}
fieldset {
  padding: 10px;
  border: 1px solid $bgBorder;
}
.tr {
  text-align: right;
}
/*应用*/
.tree {
  a {
    &.switch {
      i {
        &.icon {
          vertical-align: middle;
          font-size: 20px !important;
        }
      }
    }
  }
}
.header {
  height: 50px;
  overflow: hidden;
  border-bottom:1px solid #e0e0e0;
  background-color: $bgHeader;
  box-shadow:0px 0px 1px #ccc;
  .logo {
    .x1 {
      margin-top: 10px;
      height: 28px;
      width: 15px;
      float: left;
      font-size: 16px;
      line-height: 14px;
      color: #fff;
      background-color: $c1;
      border-radius: 0px;
    }
    .x2 {
      text-indent: 5px;
      height: 50px;
      width: auto;
      line-height: 50px;
      float: left;
      font-size: 38px;
      color: $c0;
      letter-spacing: -2px;

    }
  }
  a {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0 12px;
    float: left;
    color: #555;
  }
  .login{
    display:block;
    float:right;
  }
  .panel{
    display:block;
    float:right;
  }
}
.header .logo,
.header .f24 {
  font-family: "logo";
}
.pagen {
  &.md{
    max-width: 1600px;
  }
  max-width: 1000px;
  margin: 0 auto;
}
.zone {
  margin: 30px 10px;
  &.breadcrumb {
    margin: 15px 10px;
    color: $bgBorder;
    a {
      margin: 0 0 0 2px;
      padding: 0px;
      color: $c0;
      &.first {
        margin: 0;
        i {
          margin-right: 2px;
        }
      }
    }
  }
  &.menu {
    .ease {
      border-radius: 0px;
    }
  }
  &.topic {
    .title {
      position: relative;
      h1 {
        text-align: center;
        padding: 10px 6px;
        font-size: 22px;
        font-weight: bold;
        line-height: 35px;
        margin: 0 10px 6px 10px;
      }
      div {
        &.meta {
          margin: 0 10px 0 10px;
        }
      }
      .meta {
        .btn {
          margin-top: -10px;
        }
      }
    }
    .userbar {
      border: none;
    }
    .meta {
      p{
        padding: 0 15px;
        font-size:14px;
      }
    }
  }
  .userbar {
    .avatar {
      float: left;
      overflow: hidden;
      width: 40px;
      height: 40px;
      border: 3px solid $bgBtn;
      border-radius: 300px;
      color: #eee;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      background-color: $c1;
      box-shadow: 0 0 5px #555 inset;
      line-height: 35px;
      margin: 0 6px 0 0;
    }
    .profile {
      width: 180px;
      overflow: hidden;
      float: left;
      .username {
        line-height: 28px;
        display: block;
        height: 25px;
      }
      .created_at {
        line-height: 15px;
        font-size: 12px;
        display: block;
        height: 15px;
      }
    }
    .meta {
      line-height: 18px;
      vertical-align: middle;
      overflow: hidden;
      float: right;
      text-align: right;
      line-height: 40px;
      padding: 0 6px;
    }
  }
  &.comments {
    .ease {
      margin: 30px 0;
    }
    .comment {
      background-color: $bg;
      border: 1px solid $bgBorder;
      border-radius: 4px;
      padding: 5px;
      .content {
        min-height: 90px;
        padding: 20px 10px;
        overflow: hidden;
        word-break: break-all;
        color: #555;
        font-size: 16px;
        line-height: 30px;
        .reply.data {
          color:#999;
          border-left:3px solid #ccc;
          border-right:3px solid #ccc;
          padding:10px 15px;
          background-color: #f1f1f1 !important;
          border-radius:6px;
          font-size:14px;
        }
      }
    }
    .userbar {
      border-bottom: 1px solid $bgBorder;
    }
  }
  &.add {
    &.comment {
      .textarea {
        height: 120px;
        line-height: 120px;
        font-size: 20px;
        text-align: center;
        border: 1px solid $bgBorder;
        cursor: pointer;
      }
    }
  }
  &.optional {
    &.description {
      .description {
        margin: 10px 0 20px 0;
      }
      .ease {
        border-left: 7px solid $c1;
      }
    }
  }
  &.area {
    .ease {
      h2 {
        margin: 40px 0 10px 10px;
      }
    }
  }
  &.areas {
    * {
      font-family: inherit;
    }
  }
  &.boardLogo {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: -1;
    .box {
      position: absolute;
      top: -18px;
      right: 10px;
      margin: 0;
      height: 60px;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    img {
      height: 60px;
    }
  }
}
.footer {
  margin-top:50px;
  text-align: center;
  * {
    font-size: 12px!important;
    color: #777;
    line-height: 16px;
  }
}
.tag {
  padding: 0 0 0 5px;
  cursor: pointer;
  border-radius: 3px;
}
.radio {
  background-color: #e0e0e0;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 3px;
  &.checked {
    background-color: $c1;
    color: #f9f9f9;
  }
}
.form {
  .item {
    .radio {
      &.first {
        margin-left: 5px;
      }
    }
  }
}
.center {
  text-align: center;
}
div {
  &.p {
    padding: 8px 0;
    line-height: 24px;
    .tag {
      color:$c0;
    }
  }
}
.zone.topics .p.even,
.zone.comments .p.even {
  background-color: $bgEven;
  border-radius: 10px;
}
.zone.topics .p:hover,
.zone.comments {
  .ord {
      color: #ccc;
      display:block;
      float:right;
      font-size:14px;
      margin:0 10px;
  }
  .p:hover {
      background-color: #E8F0FE;
  }
}
.tab {
  ul {
    &.head {
      li {
        display: inline-block;
        padding: 0 5px;
        cursor: pointer;
      }
    }
  }
  div {
    &.content {
      clear: both;
    }
  }
  .content {
    & > .item {
      display: none;
    }
  }
  .head {
    &.classic {
      border-bottom: 1px solid $bgBorder;
      li {
        &.key {
          padding: 0 5px 0 5px;
        }
      }
    }
  }
  &.region {
    .head {
      padding: 10px;
    }
    li {
      &.key {
        padding: 0;
        margin-right: 5px;
      }
    }
    * {
      .focus {
        background: $c1 !important;
        color: #eee !important;
        border-radius: 20px;
        .link{
          color:#fefefe;
        }
      }
    }
  }
  &.province {
    .content {
      padding: 10px;
      .item {
        a {
          padding: 2px 0 2px 0;
          margin-right: 5px;
          line-height: 30px;
        }
      }
    }
    .head {
      padding: 0 0 0 10px;
    }
  }
}
.topics {
  .item {
    margin: 5px 0;
    .title {
      margin: 0 5px;
    }
  }
}
.topic .textarea.editor,
#editor {
  min-height: 400px;
}
.g404 {
  padding: 10px;
  vertical-align: middle;
  p {
    margin: 40px 0 0 40px;
  }
}
.gh {
  ul {
    &.messenger {
      &.messenger-fixed {
        &.messenger-on-top {
          top: 55px !important;
        }
      }
    }
  }
  h1 {
    font-size: 24px !important;
    font-weight: bold;
  }
  h2 {
    font-size: 20px !important;
    font-weight: bold;
  }
  h3 {
    font-size: 16px !important;
    font-weight: bold;
  }
  h4 {
    font-size: 14px !important;
    font-weight: bold;
  }
  h5 {
    font-size: 14px !important;
    font-weight: bold;
  }
  h6 {
    font-size: 12px !important;
    font-weight: bold;
  }
  .content {
    p {
      margin: 10px 0;
      text-indent: 30px;
    }
  }
}
.stamp {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-top: -30px;
  margin-right: 12px;
  display: block;
  font-size: 14px;
  text-align: center;
  color: $c2;
  border: 2px solid $c2;
  width: 40px;
  height: 25px;
  line-height: 23px;
}
.topic {
  .content {
    clear:both;
    margin: 0;
    line-height: 24px;
    padding: 15px 25px;
    overflow: hidden;
    color: #555;
    font-size: 16px;
    line-height: 30px;
    p {
      &.img {
        padding: 5px;
        text-indent: 0;
      }
    }
  }
}
.mob {
  .topic {
    .content {
      padding: 15px 10px;
    }
  }
}
.content ul,
.content ol {
  padding-left: 30px;
}
img {
  &.mfp-img {
    background-color: #fff;
  }
}
.modaal-container {
  border-radius: 8px;
}
.modaal-content-container {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 8px #000;
}
.textarea {
  &.editor {
    &.delay {
      padding-top: 15px;
      min-height: 150px;
    }
  }
}

.amap {
  &.weather {
    width: 5rem;
    display: inline-block;
    padding-left: 0.5rem;
  }
  &.info {
    background-color: #fff;
    box-shadow: 2px 2px 3px #999;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.8;
    position: inherit;
    margin-bottom: 0;
  }
  &.sharp {
    height: 1rem;
    width: 1rem;
    background-color: #ffffff;
    transform: rotateZ(45deg);
    box-shadow: 2px 2px 3px #555;
    position: inherit;
    margin-left: 10.5rem;
    margin-top: -6px;
  }
}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.modaal-wrapper {
  &.modaal-inline {
    .amap-copyright {
      display: none !important;
    }
  }
}
h1 {
  &.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.content {
  &.post {
    *{
        background-color:transparent!important;
    }

    ol{
      list-style-type: decimal;
    }
    ul{
      list-style-type: square;
    }
    code{
      font-family: monospace;
      background-color: #f1f1f1;
      border-radius: 3px;
      padding: 1px 5px;
      margin: 0 3px;
      border:1px solid $bgBorder;
    }
    blockquote {
      display: block;
      border-left: 8px solid #d0e5f2;
      padding: 5px 10px;
      margin: 10px 0;
      line-height: 1.4;
      font-size: 100%;
      background-color: #f1f1f1!important;
    }
  }
}
.eleImg{
  width:48px;
}

.anchor {
    display: none; 
    position: fixed;
    z-index: 99; 
    border: none;
    right:0;
    outline: none; 
    background-color: #f9f9f9; 
    color: #999; 
    cursor: pointer; 
    border-radius: 50px;
    padding: 10px;
    box-shadow:0 1px 6px #bbb;
    &.topper {
      bottom: 20px; 
    }
    &.toc {
      bottom: 80px; 
    }
    .icon{
      font-size:32px!important;
    }
}
 
.anchor:hover {
    color: #777; 
}

#toc {
  display:none;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  background: #fefefe;
  z-index: 100;
  padding: 18px; 
  box-shadow:0 0 3px #ddd;
  border-top: none;
  border-bottom: none;
  font-weight:bold;
  color:#888;
  li{
    margin-bottom:10px;
  }
}

#toc:hover {
  overflow: auto;
}
.collapse.partial .parting{
  overflow:hidden;
  text-align:center;
}


.collapse.partial .flagger{
  cursor:pointer;
  line-height:40px;
  color:#999;
  text-align:center;
}

.textarea.editor.comment{
  height:450px;
}